.body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;
    font-size: 16px;
    line-height: 120%;
}

.webstudio {
    font-family: 'Raleway', sans-serif;
    color: #4d5ae5;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.link {
    text-decoration: none;
}

.studio {
    color: #2e2f42;
}

.list {
    list-style: none;
}

.list-text {
    color: #2e2f42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.list-text:hover {
    color: #404bbf;
}

.list-text:focus {
    color: #404bbf;
}   

.address {
    font-style: normal
}

.address-text {
    color: #434455;
    line-height: 150%;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0.02em;
}

.address-text:hover {
    color: #404bbf;
}

.address-text:focus {
    color: #404bbf;
}

.mainpage {
    background-color: #2e2f42;
}

h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 107.143%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}

h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 111.111%;
    text-transform: capitalize;
    text-align: center;
}

h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.mainbutton {
    background-color: #4D5AE5;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.mainbutton:hover {
    background-color: #404BBF;
}

.mainbutton:focus {
    background-color: #404BBF;
}

p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.team {
    background-color: #F4F4FD;
}

.team-list {
    background-color: #FFFFFF;
}

.footer {
    background-color: #2e2f42;
}

.footer-text {
    color: #ffffff;
}

.buttons1 > li {
    list-style-type: none;
}

.buttons {
    border: 1px solid #E7E9FC;
    background: #F4F4FD;
    color: #4D5AE5;
    text-align: center;
    cursor: pointer;
}

.buttons:focus {
    background: #404BBF;
    color: #FFF;
    cursor: pointer;
}