.body {
    font-family: 'Roboto', sans-serif;
    color: #2E2F42;
    background-color: #ffffff;
    font-size: 16px;
    line-height: 120%;

}

.webstudio {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 116.667%;
    text-decoration: none;
}

.nav > li {
    font-weight: 500;
    line-height: 150%;
    list-style-type: none;
}

.address > li {
    color: #434455;
    line-height: 150%;
    list-style-type: none;
}

.text {
    text-decoration: none;
    font-style: normal;
}